{% extends "layouts/base.html" %}

{% block title %}Profesor - {% block profesor_title %}{% endblock %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profesor.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="{{ url_for('docente.dashboard') }}" class="list-group-item list-group-item-action">Dashboard</a>
            <a href="{{ url_for('docente.perfil') }}" class="list-group-item list-group-item-action">Mi Perfil</a>
            <a href="{{ url_for('docente.formacion') }}" class="list-group-item list-group-item-action">Formación Académica</a>
            <a href="{{ url_for('docente.empleos') }}" class="list-group-item list-group-item-action">Empleos</a>
            <a href="{{ url_for('docente.articulos') }}" class="list-group-item list-group-item-action">Artículos</a>
            <a href="{{ url_for('cv.generar') }}" class="list-group-item list-group-item-action">Generar CV</a>
            <a href="{{ url_for('sync.index') }}" class="list-group-item list-group-item-action">Sincronizar</a>
            <a href="{{ url_for('chatbot.index') }}" class="list-group-item list-group-item-action">
    🤖 Asistente Virtual
</a>
        </div>
    </div>
    <div class="col-md-9">
        {% block profesor_content %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/profesor.js') }}"></script>
{% endblock %}

